{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if emplacement_form %}
		<form method="post" action="{% url 'emplacement' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{emplacement_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if auteur_form %}
		<form method="post" action="{% url 'auteur' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{auteur_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if livre_form %}
		<form method="post" action="{% url 'livre' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{livre_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if lecteur_form %}
		<form method="post" action="{% url 'livre' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{lecteur_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if action_form %}
		<form method="post" action="{% url 'actionbibli' %}" class="form-signin" enctype="multipart/form-data">

		{% csrf_token %}

		{{ action_form.as_p }}
		<input type="submit" name="" value="valide">
		</form>
	{% endif %}

	{% if modifier_livre %}
		<form method="post" action="{% url 'updateL' book.id %}" class="form-signin" enctype="multipart/form-data">

			{% csrf_token %}
			
			{{modifier_livre.as_p}}

			<button  name="submit" type="submit">Enregistrer</button>
        </form>
        {% endif %}
    	{% if profile_form %}

				<form method="post" action="." class="form-signin" enctype="multipart\form-data" >

				{% csrf_token %}
				
				{{profile_form.as_p}}

				<button name="submit" type="submit">Enregistrer</button>
				<a href="{% url 'login' %}">Connexion</a>
				</form>

	{% endif %}
	
	{% if connexion %}
				<form method="post" action="." class="form-signin">

				{% csrf_token %}
				
				{{connexion.as_p}}

				<button  name="submit" type="submit">Connexion</button>
				<a href="{% url 'registerbibli' %}">Enregistrer</a>
				</form>
			
	{% endif %}
			

</body>
</html>