{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="wrapper">
			<div class="header">
				<div class="row">
					<img class="logo" src="{% static "img/logo.png" %}">
					<form>
						<input type="search" name="" placeholder="search by book name">
						<button type="search"><i class="fa fa-search"></i></button>
					</form>
					<div class="right">
						<i class="fa fa-shopping-cart"></i>
						<ul>
							<li><a href="">Wish List</a></li>
							<li><a href="login.html">Log In</a></li>
							<li><a href="">Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="nav">
				<div class="row">
					<a href="{% url 'profile' %}"><span>Home</span></a>
					<span>All Books</span>
					<span>Category</span>
					<span>Writer</span>
					<span>Publisher</span>
					<span>Gallery</span>
					<span>PDF Books</span>
					<span>Blog</span>
					<a href="{% url 'registerbibli' %}"><span>Account</span></a>
					<span>Contact</span>
				</div>
			</div class="nav">
	{% if emplacement_form %}
		<form method="post" action="{% url 'emplacement' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{emplacement_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if auteur_form %}
		<form method="post" action="{% url 'auteur' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{auteur_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if livre_form %}
		<form method="post" action="{% url 'livre' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{livre_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if lecteur_form %}
		<form method="post" action="{% url 'livre' %}" class="form-signin"enctype="multipart/form-data">

		{% csrf_token %}

	    {{lecteur_form.as_p}}
	    <input type="submit" value="add">	
		</form>
	{% endif %}

	{% if action_form %}
		<form method="post" action="{% url 'actionbibli' %}" class="form-signin" enctype="multipart/form-data">

		{% csrf_token %}

		{{ action_form.as_p }}
		<input type="submit" name="" value="valide">
		</form>
	{% endif %}

	{% if modifier_livre %}
		<form method="post" action="{% url 'updateL' book.id %}" class="form-signin" enctype="multipart/form-data">

			{% csrf_token %}
			
			{{modifier_livre.as_p}}

			<button  name="submit" type="submit">Enregistrer</button>
        </form>
        {% endif %}
    	{% if profile_form %}

				<form method="post" action="." class="form-signin" enctype="multipart\form-data" >

				{% csrf_token %}
				
				{{profile_form.as_p}}

				<button name="submit" type="submit">Enregistrer</button>
				<a href="{% url 'login' %}">Connexion</a>
				</form>

	{% endif %}
	
	{% if connexion %}
				<form method="post" action="." class="form-signin">

				{% csrf_token %}
				
				{{connexion.as_p}}

				<button  name="submit" type="submit">Connexion</button>
				<a href="{% url 'registerbibli' %}">Enregistrer</a>
				</form>
			
	{% endif %}
			

</body>
</html>